.nav-bar > li:hover, .nav-bar > li a:hover  { color:#a0a774;}
.nav-bar > li.active > a { }
ul.flyout li a:hover, .nav-bar li ul li a:hover {color:#a0a774;}
.flyout {border-top:2px solid #a0a774;}
.sectiontitle {border-left: 4px solid #a0a774;}
::-moz-selection{background:#a0a774;color:#fff;}
::selection{background:#a0a774;color:#fff;}
.ca-menu li:hover .ca-main {color: #FFFFFF;}
.topborder { border-top:4px solid #a0a774;}
#subheader{background: #a0a774;border-top: 1px solid #a0a774; color: #fff;}
#subheader a {color: #fff;text-decoration: none;}
#subheader a:hover { text-decoration: none; color: #fff; }
 .readmore {background:#a0a774;}
 #testimonials blockquote cite {color:#a0a774;}
.tags {background:#333;}
ul.pagination li.current a {background: #a0a774;}
.saymore {color:#a0a774;}
.submit {background:#a0a774;}
dl.tabs dd.active { border-top: 3px solid #a0a774;}
ul.accordion > li.active {border-top: 3px solid #a0a774;}
div.alert-box.default { background-color: #a0a774;}
.slide {	margin: 0;	padding: 0;	border-top: solid 4px #a0a774;}
.btn-slide {	background:#a0a774 url(../../images/plus.png) no-repeat;}
.btn-slide.active { background: #a0a774 url(../../images/minus.png) no-repeat;}
/**/
/**/
/**/
/**/
/**/
/* Self defined widgets */
/**/
/* ---- 1 ---- */
#textbox{background: #fff59d;border-top: 1px solid #fff59d; color: #fff;}
#textbox a {color: #004a9f;text-decoration-line: underline;text-decoration-style: solid;} /*hyperlink*/
#textbox a:hover { text-decoration: none; color: #62a3ff; text-decoration-line: underline;text-decoration-style: solid;} /*hyperlink-mouse-over*/
/**/
/* ---- 2 ---- */
#codeblock{background: #CCCCCC; order-top: 1px solid #BFBFBF; color: #000000;font-family: 'Consolas'}
#codeblock a {color: #004a9f;text-decoration-line: underline;text-decoration-style: solid;} /*hyperlink*/
#codeblock a:hover { text-decoration: none; color: #62a3ff; text-decoration-line: underline;text-decoration-style: solid;} /*hyperlink-mouse-over*/
/**/
/* ---- 3 ---- */
#codeblockresult{border-style: solid; border-width: 1px; border-color: #CCCCCC; color: #000000; font-family: 'Consolas'}
#codeblockresult a {color: #004a9f;text-decoration-line: underline;text-decoration-style: solid;} /*hyperlink*/
#codeblockresult a:hover { text-decoration: none; color: #62a3ff; text-decoration-line: underline;text-decoration-style: solid;} /*hyperlink-mouse-over*/
/**/
/**/
/**/
/**/
/**/
#footer {border-top:#a0a774 4px solid;}
.back-top a:hover{background-color: #666;}
.sf-shadow ul {border-top:2px solid #a0a774;}
.panel {border-left:4px solid #a0a774;}
.colorbackground {background:#a0a774;}
#homesubheader {background:#222;}
a.projectdetail { background: #ccc;text-shadow:none;color:#111;}
a.projectdetail:hover { background: #ccc;text-shadow:none;color:#111;}
#testimonials {border-left: solid 6px #a0a774;}
.ei-title h2{background:#a0a774;}